{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8 offset-md-2 text-center">
                <h1 class="display-3">Welcome to Our About Page!</h1>
                <p class="lead">Thank you for choosing Georgetown Book Exchange.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <p class="text-justify">
                    Georgetown Book Exchange is more than just a platform; it's a vibrant community where students and faculty come together to exchange and discover a world of knowledge through affordable, used books. 
                    Our mission is to create an environment that fosters the love for reading while making education more accessible. 
                    Join us on this literary journey!
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 offset-md-3 text-center">
                <h2 class="mt-3">About the Creators!</h2>
                <img src="https://media.licdn.com/dms/image/D4E03AQHrd5h--D6dOw/profile-displayphoto-shrink_800_800/0/1664936930335?e=2147483647&v=beta&t=Ip5qJXR4aoXSOOdm6Hr_5EilbIXhE2t_h_ONj4Tt3Cg" class="img-fluid rounded-circle" alt="About the Creators" style="width: 300px; height: 300px;">
                <p>Samantha Miller is a senior at Georgetown University studying Operations and Analytics in the McDonough School of Business.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3 text-center">
                <h2 class="mt-3"></h2>
                <img src="https://media.licdn.com/dms/image/D5603AQHvNGnHocx3yw/profile-displayphoto-shrink_800_800/0/1688139577350?e=1707955200&v=beta&t=3PnuhsKQ7xRvCMgqC7_6u5NokmK4srR8iLPqJYiL8UA" class="img-fluid rounded-circle" alt="Zachary Goodman" style="width: 300px; height: 300px;">
                <p>Zachary Goodman is a senior at Georgetown University studying Operations & Analytics in the McDonough School of Business.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3 text-center">
                <h2 class="mt-3"></h2>
                <img src="https://media.licdn.com/dms/image/D5603AQHSMdlhqvh3hQ/profile-displayphoto-shrink_800_800/0/1702657420181?e=1707955200&v=beta&t=Mrfu7xCDo50jipqz_jTBryE4WLMZGJd7IzllQ2snhiI" class="img-fluid rounded-circle" alt="Joseph Manfredi" style="width: 300px; height: 300px;">
                <p>Joseph Manfredi is a senior at Georgetown University studying Finance and Operations & Analytics in the McDonough School of Business.</p>
            </div>
        </div>
    </div>
    
    

{% endblock %}

