{% extends "bootstrap_5_layout.html" %}
{% set active_page = "user_profile" %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Book Listings Column -->
        <div class="col-md-8 col-sm-12">
            <h2 class="mt-4">Book Listing History</h2>
            <div class="row">
                {% for book in my_books %}
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-4">
                        <div class="card shadow-sm">
                            <img src="{{ book.image_url }}" class="card-img-top" alt="Book Image">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.title }}</h5>
                                <p class="card-text"><strong>Author:</strong> {{ book.author }}</p>
                                <p class="card-text"><strong>Published Date:</strong> {{ book.published_date }}</p>
                                <p class="card-text"><strong>Genre:</strong> {{ book.genre }}</p>
                                <p class="card-text"><strong>Condition:</strong> {{ book.condition }}</p>
                                <p class="card-text"><strong>List Price:</strong> ${{ book.list_price }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- User Profile Column -->
        <div class="col-md-4 col-sm-12" style="max-width: 300px;">
            <div class="card card-body bg-light mt-3">
                <h1>User Profile</h1>
                <div class="mb-3">
                    <label for="email-input" class="form-label">Email:</label>
                    <input disabled type="text" name="email" id="email-input" class="form-control" value="{{ user.email }}" title="Email cannot be changed" style="cursor: not-allowed;">
                </div>

                <div class="mb-3">
                    <label for="first-name-input" class="form-label">First Name:</label>
                    <input disabled type="text" name="first_name" id="first-name-input" class="form-control" value="{{ user.given_name }}">
                </div>

                <div class="mb-3">
                    <label for="last-name-input" class="form-label">Last Name:</label>
                    <input disabled type="text" name="last_name" id="last-name-input" class="form-control" value="{{ user.family_name }}">
                </div>
            </div>

            <div class="card card-body mt-3">
                <p class="mt-0 mb-0">
                    <a href="/logout">Logout</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
