{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Navbar content (search bar removed) -->
</nav>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar column -->
    <div class="col-md-2">
      <!-- Sidebar with buttons -->
      <div class="list-group mb-3">
        <button type="button" class="btn btn-primary mb-3">Account Page</button>
        <button type="button" class="btn btn-primary mb-3">
          <a href="{{ url_for('book_routes.new_listing') }}" style="color: white; text-decoration: none;">+ Create New Listing</a>
        </button>
        <button type="button" class="btn btn-primary mb-3">
          <a href="{{ url_for('auth_routes.login') }}" class="btn btn-primary">Login with Google</a>
        </button>
      </div>
      <!-- Search Bar -->
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Search...">
      </div>
      <!-- Sidebar with categories -->
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Art & Photography</a>
        <a href="#" class="list-group-item list-group-item-action">Biographies</a>
        <a href="#" class="list-group-item list-group-item-action">Business & Economics</a>
        <a href="#" class="list-group-item list-group-item-action">Fiction</a>
        <a href="#" class="list-group-item list-group-item-action">Health & Fitness</a>
        <a href="#" class="list-group-item list-group-item-action">History</a>
        <a href="#" class="list-group-item list-group-item-action">Mystery</a>
        <a href="#" class="list-group-item list-group-item-action">Nonfiction</a>
        <a href="#" class="list-group-item list-group-item-action">Science & Technology</a>
        <a href="#" class="list-group-item list-group-item-action">Textbooks</a>

        <!-- ... other categories ... -->
      </div>
    </div>
    
    <!-- Book cards column -->
    <div class="col-md-10">
      <h1>Listed Books for Sale</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for book in books %}
          <div class="col">
            <div class="card h-100 shadow-sm" style="background: linear-gradient(to bottom, #ffffff, #f7f7f7);">
              <img src="{{ book['image_url'] }}" class="card-img-top" alt="{{ book['title'] }} cover" style="height: 200px; object-fit: cover;">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ book['title'] }}</h5>
                <p class="card-text">Author: {{ book['author'] }}</p>
                <p class="card-text">Published Date: {{ book['published_date'] }}</p>
                <p class="card-text">Price: ${{ book['list_price'] }}</p>
                <p class="card-text">Condition: {{ book['condition'] }}</p>
                <!-- "Purchase Book" button -->
                <div class="mt-auto">
                  <a href="{{ url_for('home_routes.purchase', id=book['id']) }}" style="color: rgb(36, 73, 217); text-decoration: none;">Purchase Book</a>

                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
