{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}
<style>
    .book-image {
        width: 100%;
        max-width: 20rem;
        height: auto;
        display: block;
        margin: auto;
    }
    .book-card {
        max-width: 100%;
        margin: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .book-details {
        color: #4267B2; /* Adjust the color to match your theme */
        margin-bottom: 10px;
    }
    .book-details strong {
        font-weight: bold;
        color: #34568B; /* A darker shade for the field names */
    }
    .card-body {
        text-align: left; /* Align text to the left */
        padding: 20px; /* Add some padding for aesthetics */
    }
    .card-header {
        background-color: #007bff;
        color: white;
    }
    .book-details-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align items to the start */
    }
    .container {
        padding-top: 50px; /* Adds space above the card */
        padding-bottom: 50px; /* Adds space below the card */
    }
</style>

<div class="container d-flex justify-content-center">
    <div class="card book-card">
        <h4 class="card-header bg-primary text-white mb-3 text-center">
            {{ book_details.title }} has been listed successfully!
        </h4>
        <img class="card-img-top book-image" src="{{ book_details.image_url }}" alt="{{ book_details.title }} Book Image">
        <div class="card-body book-details-container">
            
            <p class="book-details"><strong>Title:</strong> {{ book_details.title }}</p>
            <p class="book-details"><strong>Author:</strong> {{ book_details.author }}</p>
            <p class="book-details"><strong>Published Date:</strong> {{ book_details.published_date }}</p>
            <p class="book-details"><strong>Condition:</strong> {{ book_details.condition }}</p>
            <p class="book-details"><strong>List Price:</strong> ${{ book_details.listPrice }}</p>
        </div>
    </div>
</div>
{% endblock %}
